:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #8a470c;
  --light-grey: #d0d0d0;
  --yellow: rgb(255, 255, 125);
  --light-yellow: rgb(255, 255, 236);
 
  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-base);
  background-color: var(--yellow);
}

img {
  max-width: 100%;
  display: flex;
  margin: 100px;
  justify-self: center;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

a:link {
  color: #525b0f;
  background-color: var(--yellow);
}

a:visited {
  color: #8a470c;
  background-color: var(--yellow);
}

a:hover {
  color: #3c15ea;
  background-color: var(--yellow);
}

a:active {
  color: #000;
  background-color: var(--yellow);
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 48px;
}

h1, h2, h3, h4, h5, h6, p {
  text-align: center;
}

p {
  padding: 0.75rem;
}

p.welcome {
    text-align: center;
}

.white-space {
  margin: 100px;
}

#bacon1 {
  width: 350px;
  height: 300px;
  background-color: var(--yellow);
  justify-self: center;
  animation-name: api;
  animation-duration: 4s;
}

#bacon2 {
  width: 300px;
  height: 330px;
  background-color: var(--yellow);
  justify-self: center;
  animation-name: api;
  animation-duration: 4s;
}

#keanu {
  width: 350px;
  height: 300px;
  background-color: var(--yellow);
  justify-self: center;
  animation-name: api;
  animation-duration: 4s;
}

section {
  text-align: center;
}



footer {
  font-size: var(--small-font);
  font-family: var(--font-body);
  border-top: 1px solid var(--tertiary-color);
  padding: 1em;
}

@keyframes api {
  from {background-color: var(--yellow);}
  to {background-color: var(--primary-color);}
}

@media screen and (min-width: 600px) {
  body {
    font-family: var(--font-headline);
    background-color: var(--light-yellow);
    max-width: 1080px;
    margin: auto;
  }

  #bacon1, #bacon2, #keanu {
    background-color: var(--light-yellow);
  }

  @keyframes api {
    from {background-color: var(--light-yellow);}
    to {background-color: var(--primary-color);}
  }
}